h1 {
    font-size: 3rem;
}

.card {
    min-width: 300px;
}

.gradient-side {
    background: linear-gradient(90deg, rgb(108, 117, 125) 0%, rgb(51, 61, 69) 100%);
}

.gradient-side-dark {
    background: linear-gradient(90deg, rgb(56, 62, 72) 0%, rgb(15, 25, 33) 100%);
}

.gradient-diag {
    background: linear-gradient(135deg, rgb(82, 92, 100) 0%, rgb(56, 62, 72) 100%);
}

.gradient-diag-light {
    background: linear-gradient(135deg, rgb(160, 169, 177) 0%, rgb(110, 119, 127) 100%);
}

.gradient-diag-light-2 {
    background: linear-gradient(135deg, rgb(110, 119, 127) 0%, rgb(82, 92, 100) 100%);
}

.gradient-diag-bright {
    background: linear-gradient(135deg, rgb(200, 209, 217) 0%, rgb(160, 169, 177) 100%);
}

.gradient-diag-dark {
    background: linear-gradient(135deg, rgb(56, 62, 72) 50%, rgb(33, 33, 33) 100%);
}

.gradient-side-black {
    background: linear-gradient(300deg, rgba(51,51,51,1) 0%, rgba(48,48,48,1) 33%, rgba(99,99,99,1) 100%);
}

.underline {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.pic {
    width: 100%;
    height: auto;
}

.pic-lg {
    max-width: 640px;
    min-width: 480px;
    width: 100%;
    height: auto;
}

.pic-md {
    max-width: 480px;
    min-width: 240px;
    width: 100%;
    height: auto;
}

.pic-sm {
    max-width: 360px;
    min-width: 120px;
    width: 100%;
    height: auto;
}

.pic-x-sm {
    max-width: 240px;
    min-width: 0px;
    width: 100%;
    height: auto;
}

.pic-lg-h {
    max-width: 640px;
    min-width: 0px;
    width: auto;
    height: 100%;
}

.pic-md-h {
    max-width: 480px;
    min-width: 0px;
    width: auto;
    height: 100%;
}

.pic-sm-h {
    max-height: 240px;
    min-width: 0px;
    width: auto;
    height: 100%;
}

.pic-x-sm-h {
    max-width: 240px;
    min-width: 0px;
    width: auto;
    height: 100%;
}

.project-header {
    background: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-top: 0;
    padding: 0 1.5rem 1.25rem 1.25rem;
}

.jumbotron-project {
    background: linear-gradient(135deg, rgb(110, 119, 127) 0%, rgb(82, 92, 100) 100%);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    margin: 0;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
}

.jumbotron-sm {
    max-width: 480px;
}

.w-nomin {
    min-width: 0px;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    .pic-lg {
        max-width: 480px;
        min-width: 240px;
        width: 100%;
        height: auto;
    }

    .pic-md {
        max-width: 360px;
        min-width: 120px;
        width: 100%;
        height: auto;
    }

    .pic-sm {
        max-width: 240px;
        min-width: 60px;
        width: 100%;
        height: auto;
    }

    .pic-x-sm {
        max-width: 120px;
        min-width: 0px;
        width: 100%;
        height: auto;
    }

    .pic-lg-h {
        max-width: 480px;
        min-width: 0px;
        width: 100%;
        height: auto;
    }

    .pic-md-h {
        max-width: 360px;
        min-width: 0px;
        width: 100%;
        height: auto;
    }

    .pic-sm-h {
        max-height: 240px;
        min-width: 0px;
        width: 100%;
        height: auto;
    }

    .pic-x-sm-h {
        max-width: 120px;
        min-width: 0px;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 359px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
